:host {
    display: flex;
    flex-direction: column;
    max-height: 100vh;
}

.addItem {
    width: 100%;
    text-align: center;
}

.items {
    scrollbar-width: none;
    overflow-y: auto;
}

.items::-webkit-scrollbar {
    width: 0px;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}

.row {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    gap: 15px;
}

.ancestors, .descendants {
    overflow-x: scroll;
    scrollbar-width: none;
}

.loading {
    text-align: center;
    color: rgb(255, 0, 0);
}

.editing {
    background-color: rgb(173, 173, 255);
}
